.container {
    background-color: #070707;
    position: relative;
    height: 100vh;
    width: 100vw;
}

h1{
    color: aliceblue;
    font-size: 4rem;
    margin: 0px;
}

h2{
    color: #4D5BCE;
    font-size: 3rem;
    margin: 0px;
}

h3{
    color: aliceblue;
    font-size: 2rem;
    margin: 0px;
}

.main {
    width: 50%;
    height: 60%;
    left: 77px;
    top: 250px;
    position: fixed;
}

p{
    padding: 8px;
    margin: 0px;
    font-size: 1rem;
    font-family: monospace;
    color: #607B96;
}

.commenttext {
    left: 77px;
    position: fixed;
    top: 525px;
}

.const {
    color: #4D5BCE;
}

.github {
    color: #43D9AD;
}

a{
    color: #E99287;
}

