.navbar {
  width: 90%;
  height: 170px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }

  .name{
    color: #607B96;
    font-size: 18px;
    position: absolute;
    left: 0px;
    top: 58px;
    font-family: monospace;
    font-weight: bolder;
    padding: 18px;
  }
  
  .navbar-list {
    display: flex;
    padding: 0px;
  }
  

  .line {
    position: fixed;
    display: block;
    width: 90%;
    height: 0px;
    bottom: 0;
    border: 1px solid #1E2D3D;
    margin: 0 auto;
    top: 132px;
  }

  .navbotton {
    padding: 18px;
    font-size: 14px;
    font-family: monospace;
    color: #E5E9F0;
    text-decoration: none;
  }